.admin-main {
    position: relative;
    left: 260px;
    width: calc(99% - 260px);
    transition: all 0.5s ease;
    top: 9%;
}

.admin-main a {
    text-decoration: none;
}

.sidebar.close ~ .admin-main {
    left: 78px !important;
    width: calc(99% - 78px);
}

.bg-heading svg,
.card-title svg {
    width: 20px;
}


.bg-heading a svg {
    color: #b5c7b7 !important; 
}

.card-header {
    background-color: #d5dfd6;
}

.card-title {
    color: grey;
}

.card-body input[role=switch] {
	-webkit-appearance: none;
	position: relative;
	display: inline-block;
	width: 2.4em;
	height: 1.4em;
	margin: -.2em 0;
	padding: 0;
	border: none;
	border-radius: .7em;
	background: rgba(160,160,160,0.7);
	box-shadow: 0 .15em .25em rgba(0,0,0,0.5) inset, 0 -.5px 0 rgba(255,255,255,0.2) inset;
	transition: background-color 250ms ease, box-shadow 250ms ease;
}

.card-body input[role=switch]::before {
	content: '';
	display: flex;
	align-content: center;
	justify-content: center;
	position: absolute;
	width: 1em;
	height: 1em;
	left: 0;
	top: 0;
	background: rgba(240,240,240,0.9);
	box-shadow: 0 1px 1px #fff inset, 0 .2em .5em rgba(255,255,255,0.7) inset, 0 -.2em .3em rgba(0,0,0,0.2) inset, 0 .05em .25em rgba(0,0,0,0.7);
	border-radius: 50%;
	transform: translate(20%, 20%);
	transition: transform 250ms ease;
	color: rgba(0,0,0,0.3);
	line-height: 1;
}

.card-body input[role=switch]:focus::before {
	background: rgba(255,255,255,0.9);
}

.card-body input[role=switch]:checked {
	background-color: var(--bg-checked, var(--bg, rgb(60,130,250)));
}

.card-body input[role=switch]:focus-visible {
	box-shadow: 0 .15em .25em rgba(0,0,0,0.5) inset, 0 -.5px 0 rgba(255,255,255,0.2) inset, 0 0 0 2px rgba(255,255,255,0.8), 0 0 0 4px var(--bg-checked, var(--bg, rgb(60,130,250)));
}

.card-body input[role=switch]:checked::before {
	transform: translate(120%, 20%);
}

.card-body input[role=switch]:indeterminate::before {
	transform: translate(70%, 20%);
	content: '-';
}

.card-body input[role=switch]:disabled:before {
	opacity: 0.4;
}