<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Admin - {% block title %}{% endblock %} - The Gallery</title>
        <link rel="icon" href="{{ asset('images/favicon.ico') }}">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        {% include 'admin/_includes/menu/menuAdmin.html.twig' %}

        <main class="admin-main ms-3">
            {% block main %}{% endblock %}
        </main>
    </body>
</html>
