{% extends 'admin/baseAdmin.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block main %}

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>/media/mathieu/Donnees/Projets/Synfony/projetS/src/Controller/DashboardController.php</code></li>
        <li>Your template at <code>/media/mathieu/Donnees/Projets/Synfony/projetS/templates/dashboard/index.html.twig</code></li>
    </ul>
</div>

{% endblock %}
